@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');
body {
    margin: 50px;
    background-color: black;
}

.circle {
    width: 160px;
    height: 160px;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

img {
    position: absolute;
    top: 55.5px;
    left: 55.5px;
    border-radius: 500%;
    height: 150px;
    width: 150px;
    object-fit: cover;
}

h1 {
    font-family: 'Inconsolata', monospace;
    color: white;
    margin-top: 30px;
    font-weight: bolder;
}

h2 {
    font-family: 'Inconsolata', monospace;
    color: white;
}

p {
    font-family: 'Inconsolata', monospace;
    color: white;
    font-size: 20px;
}