@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
body {
    margin: 50px;
    background-color: black;
}

img {
    border-radius: 500%;
    height: 150px;
    width: 150px;
}

h1 {
    font-family: 'Inconsolata', monospace;
    color: white;
    margin-top: 30px;
}