@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');
body {
    margin: 50px;
    background-color: black;
}

.circle {
    width: 180px;
    height: 180px;
    background-color: rgb(110, 190, 255);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.profile {
    position: absolute;
    top: 55.5px;
    left: 55.5px;
    border-radius: 50%;
    height: 170px;
    width: 170px;
    object-fit: cover;
}

h1 {
    font-family: 'Inconsolata', monospace;
    color: white;
    margin-top: 30px;
    font-weight: bolder;
}

h2 {
    font-family: 'Inconsolata', monospace;
    color: white;
}

p {
    font-family: 'Inconsolata', monospace;
    color: white;
    font-size: 20px;
}

.image-row {
    display: flex;
    justify-content: left;
    align-items: left;
}

.image-1 {
    margin-top: 2px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.image-2 {
    margin-top: 2px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.image-3 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}